fastapi
uvicorn
torch
langchain
langchain-community
langchain-text-splitters
qdrant-client
unstructured
python-multipart
scikit-learn
numpy
pydantic
tiktoken
symspellpy
python-docx
pandas
semantic_text_splitter
einops
sentence_transformers 